
.icon-e:before { content: '\e800'; } /* '' */
.icon-g:before { content: '\e801'; } /* '' */
.icon-n:before { content: '\e802'; } /* '' */
.icon-s:before { content: '\e803'; } /* '' */
.icon-w:before { content: '\e804'; } /* '' */